body {
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
  color: #ffffff;
}

h1 {
  text-align: center;
  background-color: #383838;
  border-radius: 15px;
  padding: 12px;
}

#file-selector-container {
  text-align: center;
}

#file-selector {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #4a4a4a;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#file-selector:hover {
  background-color: #555555;
}

#file-selector::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('assets/upload.png');
  background-size: cover;
}

#file-selector::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 178px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('assets/upload.png');
  background-size: cover;
}


#txt-file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#selected-file {
  margin-top: 10px;
  font-size: 16px;
  color: #999999;
}

#process-btn-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

#process-btn-container button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#process-btn-container button.disabled {
  background-color: #ff0000;
  cursor: not-allowed;
}

#process-btn-container button.enabled {
  color: black;
  background-color: #00ff00;
  cursor: pointer;
}

#result-container {
  margin: 20px auto;
  text-align: left;
  width: 80%;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  border-radius: 10px;
  padding: 20px;
  background-color: #2c2c2c;
}

#result-container-header{
  background-color: #525252;
  border-radius: 15px;
  padding: 12px;
  text-align: center;
}

#result {
  font-size: 18px;
  text-align: left;
  padding: 6px;
}

.line-number {
  font-family: Arial, sans-serif;
  font-size: 9px;
  color: #999999;
  left: -10px;
  position: relative;
}
